{% extends 'base.html' %}
{% load static %}

    {% block title %} Home {% endblock %}


{% block content %}


<h1>Hello World!</h1>
<h3>APIs Routers</h3>

<a href="api/v1/services">Service API</a>                               
<br>
<a href="api/v1/insurances">Insurance API</a>
<br>
<a href="api/v1/omras">Omra API</a>
<br>
<a href="api/v1/organizedjourneys">Organized Journey API</a>
<br>
<a href="api/v1/others">Other API</a>
<br>
{% comment %} <a href="api/v1/temphotelreservations">Temp Hotel Reservation API</a>
<br> {% endcomment %}
<a href="api/v1/tickets">Ticket API</a>
<br>
<a href="api/v1/travelhotelreservations">Travel Hotel Reservation API</a>
<br>
<a href="api/v1/visas">Visa API</a>
<br>
<a href="api/v1/clients">Client API</a>
<br>
<a href="api/v1/countries">Country API</a>
<br>
<a href="api/v1/regions">Region API</a>
<br>
<a href="api/v1/cities">City API</a>

{% endblock %}